@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Nunito:wght@600&family=Quicksand:wght@300;400&display=swap");
@mixin inline-animation($duration) {
  $name: inline-#{unique-id()};
  @keyframes #{$name} {
    @content;
  }
  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.CityButton {
  width: 730px;
  height: 114px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-family: "Edu QLD Beginner", cursive;
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  letter-spacing: 5px;
  font-size: 20px;
  text-transform: uppercase;
  color: #fc0;
  opacity: 0;

  @include inline-animation(2s) {
    from {
      transform: translateY(200px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

.NearMe {
  width: 730px;
  height: 114px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-family: "Edu QLD Beginner", cursive;
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  letter-spacing: 6px;
  font-size: 30px;
  text-transform: uppercase;
  color: #fc0;
}
