.CityButton{
    border: 1pt solid #fecb00;
    width: 400px;
    height: 75px;
    border-radius: 4px;
    box-shadow: inset 0 0 0.5em,
    0 0 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}